name: digify_erp
description: "Digify ERP - Enterprise Resource Planning System"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  
  cupertino_icons: ^1.0.8
  flutter_riverpod: ^2.6.1
  go_router: ^14.6.2
  flutter_screenutil: ^5.9.3
  google_fonts: ^6.2.1
  intl: any
  flutter_svg: ^2.0.10+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  flutter_gen_runner: ^5.7.0
  build_runner: ^2.4.13

flutter_gen:
  output: lib/gen/
  line_length: 80
  
  integrations:
    flutter_svg: true
    
  assets:
    enabled: true
    outputs:
      class_name: Assets

flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/logos/
    - assets/images/
    - assets/icons/
